$background-color: rgb(255, 255, 255);
$background-color-soft: #a4c4d8;
$background-color-extra-soft: #dfe8f2;
$contra-black: #059dd7;
$dark-black: #3c3d1e;

$red: rgb(255, 59, 48);
$orange: rgb(255, 140, 0);
$yellow: rgb(255, 204, 0);
$green: rgb(52, 199, 89);
$mint: rgb(0, 199, 190);
$teal: rgb(48, 176, 199);
$cyan: rgb(50, 176, 199);
$blue: rgb(0, 122, 255);
$indigo: rgb(88, 86, 214);
$purple: rgb(175, 82, 222);
$pink: rgb(255, 45, 85);
$brown: rgb(162, 132, 93);



$lightRed: #ffb5b3;
$lightGreen: #d5ffd2;
$foreground-color: rgb(28, 28, 30);
$secondary-text: rgb(99, 99, 102);
$tertiary-text: rgb(142, 142, 147);
$gray5: rgba(174,174,178);
$gray6: rgba(209,209,214);
$gray7: rgba(229,229,234);
$gray8: rgba(242,242,247);
$dark-gray: rgb(51, 51, 51);
$dark-text: rgb(214, 214, 214);
$WG: linear-gradient(135deg, $gray6 0%, $gray8 65%, $background-color 100%);
